{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'auctions/images/favicon.png' %}" type="image/x-icon">

  <title>
    Auctions
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'auctions/css/style.css' %}" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/comment.css' %}" />
  <!-- responsive style -->
  <link href="{% static 'auctions/css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Auctions
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse innerpage_navbar" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'auctions:index' %}">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Categories' %}">Categories</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Create_listing' %}">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="{% url 'login' %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login
              </span>
            </a>
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <!--<form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>  -->
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->

  </div>
  <!-- end hero area -->
        {% block body %}
        {% endblock %}

          <!-- JavaScript files -->
  <script src="{% static 'auctions/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'auctions/js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{% static 'auctions/js/custom.js' %}"></script>
    </body>
</html>
